<!DOCTYPE html>
<html>
<head>
  <title>My Account Summary</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div id="wrap">
    <!-- HEADER -->
    <header id="header" class="block">
      <% include ../partials/header %>
    </header>
    <!-- END HEADER -->

    <!-- SEARCH AREA -->
    <section id="search-info">
      <% include ../partials/search %>
    </section>
    <!-- END SEARCH AREA -->

    <!-- ACCOUNT SELECTION -->
    <section id="account-summary" class="main-wrap">
      <div class="container flex-wrap">
        <!-- sidebar -->
        <% include ../partials/main-sidebar %>
        <!-- end sidebar -->
        <div class="all-info">
          <h1 class="info-heading">My Account Summary</h1>
          <div class="as-wrap personal-info">
            <p>Welcome, <span>John Doe</span></p>
            <p>This is your account summary. You can change your personal information and manage the options available for your account.</p>
            <div class="inner">
              <p>Personal Information:</p>
              <div class="table-format account-summary-table">
                <table class="tg">
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Email</th>
                  </tr>
                  <tr>
                    <td>John D.</td>
                    <td>5678</td>
                    <td>San Diego</td>
                    <td>...</td>
                  </tr>
                </table>
              </div>
              <a class="button-main" href="#">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END ACCOUNT SELECTION -->

    <!-- FOOTER -->
    <section id="footer">
      <% include ../partials/footer %>
    </section>
    <!-- END FOOTER -->
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../assets/mainJS/main.js"></script>
</body>
</html>