<!DOCTYPE html>
<html>
<head>
  <title>Account Selection</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div id="wrap">
    <!-- HEADER -->
    <header id="header" class="block">
      <% include ../partials/header %>
    </header>
    <!-- END HEADER -->

    <!-- SEARCH AREA -->
    <section id="search-info">
      <% include ../partials/search %>
    </section>
    <!-- END SEARCH AREA -->

    <!-- LOGIN -->
    <section id="account-selection">
      <div class="container flex-wrap">
        <div class="account-sidebar">
          <div class="sidebar-block">
            <p class="sidebar-heading"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Settings</p>
            <ul class="sidebar-list">
              <li><a href="#">Personal Information</a></li>
              <li><a href="#">Account Selection</a></li>
            </ul>
          </div>
          <div class="sidebar-block">
            <p class="sidebar-heading"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Orders</p>
            <ul class="sidebar-list">
              <li><a href="#">Favorites</a></li>
              <li><a href="#">Saved Orders</a></li>
              <li><a href="#">Order History</a></li>
            </ul>
          </div>
        </div>
        <div class="all-info flex-wrap">
          <p class="info-heading">Personal Information</p>
          <p class="user-welcome">Welcome Back, John Clark! Last logon: October 27, 2014 3:19:37 PM <br><span>*</span>denotes required fields</p>
          <div class="account-fields">
            <div class="info-left">left</div>
            <div class="info-left">right</div>
          </div>
        </div>
      </div>
    </section>
    <!-- END LOGIN -->

    <!-- FOOTER -->
    <section id="footer">
      <% include ../partials/footer %>
    </section>
    <!-- END FOOTER -->
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../assets/mainJS/main.js"></script>
  <script type="text/javascript">
    $(function() {
      $('.sidebar-block i').on('click', function() {
        $(this).toggleClass('rotate');
        $(this).parent().parent().find('.sidebar-list').toggleClass('hide-list');
      });
    });
  </script>
</body>
</html>