<!DOCTYPE html>
<html>
<head>
  <title>Favorites Lists</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div id="wrap">
    <!-- HEADER -->
    <header id="header" class="block">
      <% include ../partials/header %>
    </header>
    <!-- END HEADER -->

    <!-- SEARCH AREA -->
    <section id="search-info">
      <% include ../partials/search %>
    </section>
    <!-- END SEARCH AREA -->

    <!-- PERSONAL INFO -->
    <section id="favorites-list" class="main-wrap">
      <div class="container flex-wrap">
        <!-- sidebar -->
        <% include ../partials/main-sidebar %>
        <!-- end sidebar -->
        <div class="all-info">
          <h1 class="info-heading">Favorites Lists</h1>
          <div class="as-wrap">
            <button class="button-main create-new-list">Create List</button>
            <div class="table-format">
              <table class="tg favorites-table">
                <tr>
                  <th>Name</th>
                  <th>Items</th>
                  <th>Last Updated</th>
                  <th>Created By</th>
                  <th>Type</th>
                  <th>Actions</th>
                </tr>
                <tr>
                  <td>List1</td>
                  <td>2</td>
                  <td>November 17, 2014</td>
                  <td>John Doe</td>
                  <td>Shared</td>
                  <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
                </tr>
                <tr>
                  <td>List1</td>
                  <td>2</td>
                  <td>November 17, 2014</td>
                  <td>John Doe</td>
                  <td>Shared</td>
                  <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
                </tr>
                <tr>
                  <td>List1</td>
                  <td>2</td>
                  <td>November 17, 2014</td>
                  <td>John Doe</td>
                  <td>Shared</td>
                  <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
                </tr>
                <tr>
                  <td>List1</td>
                  <td>2</td>
                  <td>November 17, 2014</td>
                  <td>John Doe</td>
                  <td>Shared</td>
                  <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
                </tr>
              </table>
            </div>
            <p class="fav-lists">Lists 1 - 12 of <span>14</span></p>
            <div class="prev-next-list">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END PERSONAL INFO -->

    <!-- FOOTER -->
    <section id="footer">
      <% include ../partials/footer %>
    </section>
    <!-- END FOOTER -->
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../assets/mainJS/main.js"></script>
</body>
</html>