<!DOCTYPE html>
<html>
<head>
  <title>Favorites</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div id="wrap">
    <!-- HEADER -->
    <header id="header" class="block">
      <% include ../partials/header %>
    </header>
    <!-- END HEADER -->

    <!-- SEARCH AREA -->
    <section id="search-info">
      <% include ../partials/search %>
    </section>
    <!-- END SEARCH AREA -->

    <!-- PERSONAL INFO -->
    <section id="favorites" class="main-wrap">
      <div class="container flex-wrap">
        <aside class="account-sidebar">
          <div class="sidebar-block">
            <p class="sidebar-heading"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Settings</p>
            <ul class="sidebar-list">
              <li><a href="#">Personal Information</a></li>
              <li><a href="#">Account Selection</a></li>
            </ul>
          </div>
          <div class="sidebar-block">
            <p class="sidebar-heading"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Orders</p>
            <ul class="sidebar-list">
              <li><a href="#">Favorites</a></li>
              <li><a href="#">Saved Orders</a></li>
              <li><a href="#">Order History</a></li>
            </ul>
          </div>
        </aside>
        <div class="all-info">
          <p class="info-heading">Favorites Lists</p>
          <div class="as-wrap">
            <button class="button-main">Create List</button>
            <table class="tg favorites-table">
              <tr>
                <th>Name</th>
                <th>Items</th>
                <th>Last Updated</th>
                <th>Created By</th>
                <th>Type</th>
                <th>Actions</th>
              </tr>
              <tr>
                <td>List1</td>
                <td>2</td>
                <td>November 17, 2014</td>
                <td>John Doe</td>
                <td>Shared</td>
                <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>List1</td>
                <td>2</td>
                <td>November 17, 2014</td>
                <td>John Doe</td>
                <td>Shared</td>
                <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>List1</td>
                <td>2</td>
                <td>November 17, 2014</td>
                <td>John Doe</td>
                <td>Shared</td>
                <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>List1</td>
                <td>2</td>
                <td>November 17, 2014</td>
                <td>John Doe</td>
                <td>Shared</td>
                <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
              </tr>
            </table>
            <p class="fav-lists">Lists 1 - 12 of <span>14</span></p>
            <div class="prev-next-list">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END PERSONAL INFO -->

    <!-- FOOTER -->
    <section id="footer">
      <% include ../partials/footer %>
    </section>
    <!-- END FOOTER -->
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../assets/mainJS/main.js"></script>
</body>
</html>