<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div id="wrap">
    <!-- HEADER -->
    <header id="header">
      <% include ../partials/header %>
    </header>
    <!-- END HEADER -->

    <!-- SEARCH AREA -->
    <section id="search-info">
      <% include ../partials/search %>
    </section>
    <!-- END SEARCH AREA -->

    <!-- SLIDER -->
    <section id="slider">
      <p class="slide-bit">Slider/hero content goes here</p>
    </section>
    <!-- END SLIDER -->

    <!-- CTA/TOP PRODUCTS -->
    <section id="cta">
      <div class="container flex-wrap flex-center">
        <div class="cta-item"><p>Top Product</p></div>
        <div class="cta-item"><p>Top Product</p></div>
        <div class="cta-item"><p>Top Product</p></div>
      </div>
    </section>
    <!-- END CTA/TOP PRODUCTS -->

    <!-- ABOUT COMPANY -->
    <section id="home-blurb">
      <div class="container flex-wrap flex-center">
        <div class="home-blurb-left">
          <img src="/assets/images/ph.png">
        </div>
        <div class="home-blurb-right">
          <p>Helvetica microdosing vexillologist yr salvia, narwhal PBR&B listicle. Try-hard lyft disrupt cloud bread plaid waistcoat PBR&B cliche franzen. YOLO taxidermy tattooed, banh mi hexagon viral mumblecore squid glossier celiac kombucha. Intelligentsia paleo cloud bread glossier keytar gluten-free salvia blue bottle portland meggings direct trade migas keffiyeh franzen. Hammock taxidermy literally master cleanse, pug venmo green juice.</p>
        </div>
      </div>
    </section>
    <!-- END ABOUT COMPANY -->

    <!-- FOOTER -->
    <section id="footer">
      <% include ../partials/footer %>
    </section>
    <!-- END FOOTER -->
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../assets/mainJS/main.js"></script>
</body>
</html>