<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div id="wrap">
    <!-- HEADER -->
    <header id="header" class="block">
      <% include ../partials/header %>
    </header>
    <!-- END HEADER -->

    <!-- SEARCH AREA -->
    <section id="search-info">
      <% include ../partials/search %>
    </section>
    <!-- END SEARCH AREA -->

    <!-- LOGIN -->
    <section id="login" class="main-wrap">
      <div class="container">
        <div class="login-form flex-wrap flex-center">
          <form id="login-form" method="" action="">
            <div class="login-left">
              <div class="field">
                <label for="user-name">Username:</label>
                <input id="user-name" type="text" name="">
              </div>
              <div class="field">
                <label for="password">Password:</label>
                <input id="password" type="text" name="">
              </div>
              <div class="field">
                <input class="button-main login" type="submit" name="" value="Login">
                <a class="forgot-pw" href="#"><p>Forgot password?</p></a>
              </div>
            </div>
            <!-- <div class="login-right"></div> -->
          </form>
        </div>
      </div>
    </section>
    <!-- END LOGIN -->

    <!-- FOOTER -->
    <section id="footer">
      <% include ../partials/footer %>
    </section>
    <!-- END FOOTER -->
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../assets/mainJS/main.js"></script>
</body>
</html>