<div class="container flex-center flex-wrap">
  <div class="footer-box">
    <p>Lorem ipsum dolor amet bicycle rights cornhole flexitarian vegan hashtag raw denim</p>
  </div>
  <div class="footer-box">
    <p>Next level air plant crucifix lo-fi chambray waistcoat iPhone</p>
  </div>
  <div class="footer-box">
    <p>Narwhal hashtag pabst, direct trade pour-over williamsburg asymmetrical slow-carb paleo brooklyn banh mi</p>
  </div>
</div>
<div id="privacy-policy">
  <div class="container flex-center flex-wrap">
    <a href="#">Privacy Policy</a>
    <p>|</p>
    <a href="#">Terms & Conditions</a>
  </div>
</div>