<aside class="account-sidebar">
  <div class="sidebar-block">
    <p class="sidebar-heading"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Settings</p>
    <ul class="sidebar-list">
      <li><a href="#">Personal Information</a></li>
      <li><a href="#">Account Selection</a></li>
    </ul>
  </div>
  <div class="sidebar-block">
    <p class="sidebar-heading"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Orders</p>
    <ul class="sidebar-list">
      <li><a href="#">Favorites</a></li>
      <li><a href="#">Saved Orders</a></li>
      <li><a href="#">Order History</a></li>
    </ul>
  </div>
</aside>