<div class="container flex-wrap">
  <p>1.800.284.8242 <span>|</span> mms-store@matw.com</p>
  <div class="search flex-center flex-wrap">
    <form>
      <input type="text" name="">
      <button class="search-item" name="submit" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
      <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
    </form>
  </div>
</div>